# Build output
build/
cmake-build-*/
out/
*.obj
*.lib
*.exp
*.pdb
*.ilk
*.dll
*.exe

# IDE
.vs/
.vscode/
*.suo
*.user
*.sln.docstates
CMakeSettings.json

# OS
Thumbs.db
.DS_Store
desktop.ini

# Temp
*.tmp
*.log
*.bak
